version: "2"

services:
  vod-meta:
    container_name: ephyr-vod-meta
    image: allatra/ephyr:vod-meta-server
    command: ["-v", "INFO"]
    volumes:
      - ./example.vod.meta.json:/state.vod-meta.json
      - ./.cache/vod/video/:/var/lib/ephyr/vod/cache/
      - ./.cache/vod/ephyr/tmp/:/tmp/
    network_mode: service:nginx
  nginx:
    container_name: ephyr-nginx
    image: nytimes/nginx-vod-module:1.4
    ports:
      - 80:80          # http  nginx
      - 8080:8080      # http  ephyr-vod-meta
    volumes:
      - ./vod.nginx.conf:/usr/local/nginx/conf/nginx.conf:ro
      - ./.cache/vod/video/:/var/www/video/:ro
      - ./.cache/vod/nginx/temp/:/usr/local/nginx/proxy_temp/
